### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#key= title
#Then put that result into a dataframe
total_players = purchase_data["SN"].nunique()

#Set up total_players as a dictionary
players_df=pd.DataFrame([{"Total Players": total_players}])
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
#key= title
#Then put that result into a dataframe
total_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#Set up total_players as a dictionary
total_items =pd.DataFrame([{
    "Number of Unique Items": total_items,
    "Average Price": average_price,
    "Number of Purchases": number_of_purchases,
    "Total Revenue": total_revenue
    }])

total_items

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#create groups by gender 
gender= purchase_data[["SN", "Gender"]]
#drop duplicates
gender=gender.drop_duplicates()
#count gender
gender_counts = gender["Gender"].value_counts()

#now that we have the total gender counts, create a list of values
total_gender_counts= [gender_counts[0], gender_counts[1], gender_counts[2]]
total_percents= [round((gender_counts[0]/total_players)*100,2), round((gender_counts[1]/total_players)*100,2), round((gender_counts[2]/total_players)*100,2)]
                                    
#create the data frame & set index
gender_demographics = pd.DataFrame({"Percentage of Players": total_percents, "Total Count": total_gender_counts})               
gender_demographics_index= (["Male", "Female", "Other / Non-Disclosed"])
gender_demographics

   Percentage of Players  Total Count
0                  84.03          484
1                  14.06           81
2                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# create group
group_gender= purchase_data.groupby(["Gender"])



# define variables
purchase_count= group_gender["SN"].count()
purchase_price_average= group_gender["Price"].mean()
total_purchase_value= group_gender["Price"].sum()


#delete duplicates to normalize data
duplicate=purchase_data.drop_duplicates(subset='SN', keep="first")
group_gender_duplicate= duplicate.groupby(["Gender"])

#find the new normalized data
norm_purchase_data= (group_gender["Price"].sum() / group_gender_duplicate["SN"].count())

#create a new dataframe and graph info
Gender_Purchase_Analysis= pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": purchase_price_average,
                                       "Total Purchase Value": total_purchase_value,
                                       "Average Total Purchase Value Per Person": norm_purchase_data})
Gender_Purchase_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Value Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [52]:
#create bins for ages
age_bins= [0,9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999999]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#database for age demopgraphics 
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=age_range)
demographic_group=purchase_data.groupby("Age Demographics")

#data manipulation
total_count= demographic_group["SN"].count()
raw_data_count=purchase_data["SN"].count()
percentage_of_players= (total_count / total_players)*100

#create a new dataframe and graph info
Gender_Purchase_Analysis= pd.DataFrame({"Total Count": total_count,
                                       "Percentage of Players": percentage_of_players })
Gender_Purchase_Analysis


#Answer is off. How do I apply this to Total Players? 
#Right now I have a base size of 780 but need to get 576.

                  Total Count  Percentage of Players
Age Demographics
<10                        23               3.993056
10-14                      28               4.861111
15-19                     136              23.611111
20-24                     365              63.368056
25-29                     101              17.534722
30-34                      73              12.673611
35-39                      41               7.118056
40+                        13               2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:

#bin the data by age range
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=age_range)
purchase_group_age=purchase_data.groupby("Age Demographics")

# define variables
purchase_count_age= purchase_group_age["SN"].count()
purchase_price_average_age= purchase_group_age["Price"].mean()
total_purchase_value_age= purchase_group_age["Price"].sum()


#delete duplicates to normalize data
duplicate=purchase_data.drop_duplicates(subset='SN', keep="first")
group_age_duplicate= duplicate.groupby(["Age Demographics"])

#find the new normalized data
norm_purchase_data_age= (purchase_group_age["Price"].sum() / group_age_duplicate["SN"].count())

#create a new dataframe and graph info
Age_Purchase_Analysis= pd.DataFrame({"Purchase Count": purchase_count_age,
                                       "Average Purchase Price": purchase_price_average_age,
                                       "Total Purchase Value": total_purchase_value_age,
                                       "Average Total Purchase Value Per Person": norm_purchase_data_age})
Age_Purchase_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Value Per Person
Age Demographics,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame